@model RoleviewModel





<div class=" form-group">
    <label asp-for="Id" class="col-form-label">Id</label>
    <input asp-for="Id" class="form-control" readonly />
    <span asp-validation-for="Id" class=" text-danger"></span>
</div>
<div class=" form-group">
    <label asp-for="Name" class="col-form-label">Name</label>
    <input asp-for="Name" class="form-control" readonly />
    <span asp-validation-for="Name" class=" text-danger"></span>
</div>


