@model EmployeeViewModel


@{
    ViewData["Title"] = "Create";
}

<h1>Create employee</h1>
<br />
<br />

<div asp-validation-summary="All" class="alert alert-danger"></div>

<form asp-action="Create" enctype="multipart/form-data">

      
        <partial name="PartialVews/EditCreateEmployee" model="Model" />

   
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-light">Back To List</a>


</form>
@section hamada {

        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
