@model RoleviewModel


@{
    ViewData["Title"] = "Details";
}

<h1>Role Details</h1>
<br />
<br />
<div>

    <partial name="RolePartialVews/DeleteDetails"  />

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back To List</a>

</div>