@model DepartmentViewModel


@{
    ViewData["Title"] = "Delete";
}

<h1>Are you want to Delete this Department?</h1>
<br />
<br />

<form asp-action="Delete" method="post" enctype="multipart/form-data">

            <div class=" form-group">
                <label asp-for="Code" class="col-form-label">Code</label>
                <input asp-for="Code" class="form-control" readonly />
            </div>

            <div class=" form-group">
                <label asp-for="Name" class="col-form-label">Name</label>
                <input asp-for="Name" class="form-control" readonly />
            </div>

            <div class=" form-group">
                <label asp-for="DateOfCreation" class="col-form-label">Date Of Creation</label>
                <input asp-for="DateOfCreation" class="form-control" readonly />
            </div>
            <br />

            <input type="submit" value="Confirm" class="btn btn-warning">
            <a asp-action="Index" class="btn btn-light">Cancel</a>
</form>



