@{
    ViewData["Title"] = "CheckyourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
    <div class="agileits-top">

        <div>
            <p>
                Reset Password link Has Been Send To Your Email Please Check your Inbox
            </p>
        </div>
        <div>
            <a href="https://mail.google.com/" target="_blank">Your Inbox</a>
        </div>

    </div>
</div>


