@model SignUpViewModel

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div asp-validation-summary="All"></div>
	<div class="agileits-top">
		<form asp-action="SignUp">
			<input class="text" asp-for="UserName" placeholder="Username" required="">
			<br />
			<input class="text" asp-for="FirstName" placeholder="First Name" required="">
			<br />
			<input class="text" asp-for="LastName" placeholder="Last Name" required="">

			<input class="text email" asp-for="Email" placeholder="Email" required="">
			<input class="text"asp-for="Password" placeholder="Password" required="">
			<input class="text w3lpass"asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<div class="wthree-text">
				<label class="anim">
					<input asp-for="IsAgree" class="checkbox" required="">
					<span>I Agree To The Terms & Conditions</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNUP">
		</form>
		<p>Don't have an Account? <a asp-action="SignIn"> Login Now!</a></p>
	</div>
</div>